<div class="employees-cover">
  <div class="employee-item">
    <div class="employee-main">
      <div class="employee-top">
        <img src="https://i.pinimg.com/474x/97/46/5e/97465ec1f73b5d7dcbe4fda3b3282492.jpg" />
        <div class="employee-info">
          <div class="employee-name">
            Стив Роджерс
          </div>
          <div class="employee-job">
            Маркетолог
          </div>
        </div>
      </div>
      <div class="employee-body">
        <h4 class="main-key">Профиль компании</h4>
        <div class="key-value">
          <span>Название компании:</span> Pillowz.Corp
        </div>
        <div class="key-value">
          <span>Реквизиты:</span> 34534112
        </div>
        <a routerLink="/user/change-company" class="muted-btn">Редактировать</a>
        <h4 class="main-key">Доступ к кабинету</h4>
        <div class="key-value">
          <span>Пользователь:</span> Стив Роджерс
        </div>
        <div class="key-value">
          <span>Логин:</span> captainamerica
        </div>
        <div class="key-value">
          <span>Права:</span> Менеджер
        </div>
        <a routerLink="/user/employees/create" class="muted-btn">Добавить сотрудника</a>
      </div>
    </div>
  </div>
</div>
<div class="display-flex justify-content-space-between m-t-30">
  <a routerLink="/user/change-password" class="green-btn">Сменить пароль</a>
  <button type="button" (click)="logOut()" class="no-background-btn">Выйти</button>
</div>
