* {
  font-weight: 300;
}

.employees-cover {
  .employee-main {
    border-radius: 20px;
  }
}

.main-key {
  margin: 20px 0 10px;
}

.muted-btn {
  margin-top: 15px;
}

.employee-item {
  margin-top: 0;
}
