<div class="employees-cover">
  <div class="employee-item">
    <div class="employee-main">
      <div class="employee-top">
        <img [src]="user?.employees[0]?.image ? apiUrl + user?.employees[0]?.image : noAvatar" />
        <div class="employee-info">
          <div class="employee-name">
            {{ user?.employees[0]?.name }} {{ user?.employees[0]?.last_name }}
          </div>
          <div class="employee-job">
            {{ employeeRuPositions[user?.employees[0]?.position] }}
          </div>
        </div>
      </div>
      <div class="employee-body">
        <h4 class="main-key">Профиль компании</h4>
        <div class="key-value">
          <span>Название компании:</span> {{ company.name }}
        </div>
        <div class="key-value">
          <span>Реквизиты:</span> {{ company.requisites }}
        </div>
        <a routerLink="/user/change-company" class="muted-btn">Редактировать</a>
        <h4 class="main-key">Доступ к кабинету</h4>
        <div class="key-value">
          <span>Пользователь:</span> {{ user?.employees[0]?.name }} {{ user?.employees[0]?.last_name }}
        </div>
        <div class="key-value">
          <span>Логин:</span> {{ user.username }}
        </div>
        <div class="key-value">
          <span>Права:</span> {{ employeeRuPositions[user?.employees[0]?.position] }}
        </div>
        <a routerLink="/user/employees/create" class="muted-btn">Добавить сотрудника</a>
      </div>
    </div>
  </div>
</div>
<div class="display-flex justify-content-space-between m-t-30">
  <a routerLink="/user/change-password" class="green-btn">Сменить пароль</a>
  <button type="button" (click)="logOut()" class="no-background-btn">Выйти</button>
</div>
