<a routerLink="/user/trips/create" class="request-btn">
  <span class="icon i-plus-green"></span> Подать заявку
</a>
<div class="request-cover">
  <div class="request-top">
    <h3>Запрос</h3>
    <p class="request-date">
      <span class="icon i-calendar"></span> 11.03.19 - 25.03.19
    </p>
    <p class="request-location">
      <span class="icon i-placemark"></span> Алматы
    </p>
    <div class="progress-cover">
      <div class="request-status">
        Статус <span>В обработке</span>
      </div>
      <div class="request-progress">
        <div class="first-progress"></div>
        <div class="middle-progress"></div>
      </div>
    </div>
  </div>
  <div class="request-bottom">
    <div class="request-status">Предложения: формируется</div>
  </div>
</div>
<div class="request-cover">
  <div class="request-top">
    <h3>Запрос</h3>
    <p class="request-date">
      <span class="icon i-calendar"></span> 11.03.19 - 25.03.19
    </p>
    <p class="request-location">
      <span class="icon i-placemark"></span> Алматы
    </p>
    <div class="progress-cover">
      <div class="request-status">
        Статус <span>В обработке</span>
      </div>
      <div class="request-progress">
        <div class="first-progress"></div>
        <div class="middle-progress"></div>
      </div>
    </div>
  </div>
  <div class="request-bottom">
    <button type="button" class="expand-btn">
      <span class="icon i-expand-arrow"></span> Показать предложения
    </button>
  </div>
</div>
