@import "../../../../../library/assets/styles/theming";

* {
  font-weight: 300;
}

.modal-overall {
  border-radius: 20px;
  width: 720px;
  background-color: map-get($purple-palette, 1000);
  padding: 25px 40px;

  .modal-header {
    display: flex;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-size: 24px;
      color: $white;
    }

    .close-btn {
      background-color: transparent;
      border: none;
    }
  }

  .modal-body {
    .main-info-cover {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .left-cover {
        label {
          display: block;

          &:not(:first-child) {
            margin-top: 15px;
          }

          .input-tips {
            font-size: 13px;
            color: map-get($purple-palette, 700);
          }
        }
      }

      .middle-cover {
        color: $white;

        .label-text {
          font-size: 16px;
          margin: 0 0 10px;
        }
      }

      .right-cover {
        .avatar-btn {
          display: inline-block;
          width: 190px;
          height: 140px;
          background-color: map-get($purple-palette, 900);
          border-radius: 20px;
          text-align: center;
          padding-top: 30px;
          color: white;
          cursor: pointer;

          h4 {
            margin: 15px 0;
          }
        }

        .file-upload {
          display: none;
        }
      }
    }
  }
}

.no-border-input {
  padding: 3px 0;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  border-bottom: 1px solid map-get($purple-palette, 700);
  color: $white;

  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

.add-btn {
  margin: 0 auto;
  background-color: map-get($green-palette, 500);
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  color: $white;
}
