<div class="modal-overall">
  <h1 class="change-password-text">Сменить пароль</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <label class="display-block m-t-15">
      <input type="password" formControlName="old_password" class="border-bottom-input" placeholder="Старый пароль" />
    </label>
    <label class="display-block m-t-15">
      <input type="password" formControlName="new_password" class="border-bottom-input" placeholder="Новый пароль" />
    </label>
    <label class="display-block m-t-15">
      <input type="password" formControlName="repeat_password" class="border-bottom-input" placeholder="Повторите новый пароль" />
    </label>
    <div *ngIf="changePasswordForm.hasError('nomatch')" class="form-error-cover">Не совпадают пароли</div>
    <div *ngIf="changePasswordForm.hasError('unknown')" class="form-error-cover">{{ changePasswordForm.getError('unknown') }}</div>
    <button type="submit" class="green-btn">Сохранить</button>
  </form>
</div>
