@import "~library/styles/theming";

.modal-overall {
  padding: 20px 40px;
  background-color: map-get($purple-palette, 900);
  border-radius: 20px;
}

.change-password-text {
  font-size: 18px;
  color: $white;
}

.green-btn {
  margin: 20px auto 0;
  display: block;
}
