<button type="button" (click)="openCreateTrip()" class="request-btn">
  <span class="icon i-plus-green"></span> Подать заявку
</button>
<div class="request-cover">
  <div class="request-top">
    <div class="request-left">
      <div class="request-employee-count">
        Запрос <span>Сотрудники: <b>2</b></span>
      </div>
      <div class="request-date-location">
        <span class="icon i-calendar"></span>
        11.03.2019 - 25.03.19
        <span class="icon i-placemark"></span>
        Алматы
      </div>
    </div>
    <div class="progress-cover">
      <div class="request-status">
        Статус <span>В обработке</span>
      </div>
      <div class="request-progress">
        <div class="first-progress"></div>
        <div class="middle-progress"></div>
      </div>
    </div>
  </div>
  <div class="request-bottom">
    Предложение формируется
  </div>
</div>
<div class="request-cover">
  <div class="request-top">
    <div class="request-left">
      <div class="request-employee-count">
        Запрос <span>Сотрудники: <b>2</b></span>
      </div>
      <div class="request-date-location">
        <span class="icon i-calendar"></span>
        11.03.2019 - 25.03.19
        <span class="icon i-placemark"></span>
        Алматы
      </div>
    </div>
    <div class="progress-cover">
      <div class="request-status">
        Статус <span>В обработке</span>
      </div>
      <div class="request-progress">
        <div class="first-progress"></div>
        <div class="middle-progress"></div>
      </div>
    </div>
  </div>
  <div class="request-bottom expand-offers">
    <button type="button" class="expand-btn">
      <span class="icon i-expand-arrow"></span> Показать предложения
    </button>
  </div>
</div>
