<button type="button" (click)="openCreateEmployee()" class="request-btn">
  <span class="icon i-plus-green"></span> Добавить сотрудника
</button>
<div class="employees-cover">
  <div *ngFor="let employee of employeePagination?.results; let i = index" class="employee-item">
    <div class="employee-main">
      <div class="employee-top">
        <img [src]="employee.image || noAvatar" />
        <div class="employee-info">
          <div class="employee-name">
            {{ employee.name }} {{ employee.last_name }}
          </div>
          <div class="employee-job">
            {{ employeeRuPositions[employee.position] }}
          </div>
        </div>
      </div>
      <div class="employee-body">
        <div class="key-value">
          <span>Тип документа:</span> {{ employeeRuDocumentTypes[employee.document_type] }}
        </div>
        <div class="key-value">
          <span>Страна выдачи:</span> {{ employee.issue_country }}
        </div>
        <div class="key-value">
          <span>Номер:</span> {{ employee.number }}
        </div>
        <ng-container *ngIf="employee.expanded">
          <div class="key-value m-t-30">
            <span>Пол:</span> {{ employeeRuGenders[employee.sex] }}
          </div>
          <div class="key-value">
            <span>Отчество:</span> {{ employee.patronymic }}
          </div>
          <div class="key-value">
            <span>Дата рождения:</span> {{ employee.born_date | date: 'dd.MM.yyyy' }}
          </div>
          <div class="key-value">
            <span>Номер телефона:</span> {{ employee.phone }}
          </div>
          <div class="key-value">
            <span>E-mail:</span> {{ employee.email }}
          </div>
          <div class="key-value">
            <span>Комментарий:</span> {{ employee.comment }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="employee-bottom">
      <button type="button" (click)="expandEmployee(i)" class="expand-btn">
        <span class="icon i-expand-arrow"></span> {{ employee.expanded ? 'Свернуть' : 'Развернуть' }}
      </button>
    </div>
  </div>
</div>
