@import "src/styles/theming";

.employees-cover {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  .employee-item {
    flex: 1 1 30%;
    max-width: 30%;

    &:nth-child(n + 4) {
      margin-top: 30px;
    }

    &:not(:nth-child(3n + 1)) {
      margin-left: 5%;
    }
  }

  .employee-main {
    padding: 20px 20px;
    border-radius: 20px 20px 0 0;
    background-color: map-get($purple-palette, 900);

    .employee-top {
      display: flex;
      align-items: center;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .employee-info {
        margin-left: 15px;

        .employee-name {
          color: $white;
        }

        .employee-job {
          color: map-get($purple-palette, 700);
        }
      }
    }

    .employee-body {
      margin-top: 15px;
      color: $white;

      .key-value {
        span {
          color: map-get($purple-palette, 700);
        }
      }
    }
  }

  .employee-bottom {
    padding: 15px;
    border-radius: 0 0 20px 20px;
    background-color: map-get($purple-palette, 950);
  }
}
