<div class="modal-overall">
  <form [formGroup]="employeeForm" (ngSubmit)="createEmployee()" class="modal-body">
    <div class="main-info-cover">
      <div class="left-cover">
        <label>
          <input type="text" formControlName="name" placeholder="Имя" class="no-border-input" />
          <div class="input-tips">латинские буквы</div>
        </label>
        <label>
          <input type="text" formControlName="last_name" placeholder="Фамилия" class="no-border-input" />
          <div class="input-tips">латинские буквы</div>
        </label>
        <label>
          <input type="text" formControlName="patronymic" placeholder="Отчество" class="no-border-input" />
          <div class="input-tips">латинские буквы</div>
        </label>
      </div>
      <div class="right-cover">
        <label class="avatar-btn">
          <input type="file" class="file-upload" (change)="handleFileInput($event)" />
          <img src="/assets/images/camera.png" />
          <h4>Загрузить фото</h4>
          <p *ngIf="file" class="uploaded-text">Загружен {{ file.name }}</p>
        </label>
      </div>
    </div>
    <div class="middle-cover">
      <h4 class="label-text">Пол</h4>
      <label>
        <input type="radio" formControlName="sex" [value]="employeeGenders.MALE" /> мужской
      </label>
      <label>
        <input type="radio" formControlName="sex" [value]="employeeGenders.FEMALE" /> женский
      </label>
      <h4 class="label-text m-t-30">Дата рождения</h4>
      <label>
        <input type="text" (focusin)="changeTypeDate($event)" (focusout)="changeTypeText($event)" formControlName="born_date" placeholder="дд.мм.гггг" class="no-border-input" />
      </label>
    </div>
    <div class="main-info-cover --bottom">
      <div class="left-cover">
        <label>
          <select formControlName="position" class="no-border-input">
            <option *ngFor="let position of employeePositions" [value]="position.value">
              {{ position.text }}
            </option>
          </select>
        </label>
        <label>
          <select formControlName="document_type" class="no-border-input">
            <option *ngFor="let documentType of employeeDocumentTypes" [value]="documentType.value">
              {{ documentType.text }}
            </option>
          </select>
        </label>
      </div>
      <div class="left-cover">
        <label>
          <input type="text" formControlName="issue_country" placeholder="Страна выдачи" class="no-border-input" />
        </label>
        <label>
          <input type="text" formControlName="phone" placeholder="Номер телефона" class="no-border-input" />
        </label>
      </div>
      <div class="left-cover">
        <label>
          <input type="text" formControlName="number" placeholder="Серия и номер" class="no-border-input" />
        </label>
        <label>
          <input type="text" formControlName="email" placeholder="E-mail" class="no-border-input" />
          <span *ngIf="employeeForm.get('email').touched && employeeForm.get('email').hasError('email')" class="display-block form-error-cover">
            Введите корректный адрес
          </span>
        </label>
      </div>
    </div>
    <div class="w-100 m-t-15">
      <input type="text" formControlName="comment" placeholder="Комментарий" class="no-border-input" />
    </div>
    <div class="text-align-center m-t-30">
      <button type="submit" class="add-btn">Добавить сотрудника</button>
    </div>
  </form>
</div>
