<div class="modal-overall">
  <div class="modal-header">
    <h2>Новая поездка: <span>шаг {{ step }}/3</span></h2>
    <button type="button" class="close-btn">
      <span class="icon i-cross"></span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="1">
        <div class="input-fields">
          <label>
            <input type="text" placeholder="Откуда" />
            <span class="">страна, город, аэропорт, вокзал</span>
          </label>
          <label>
            <input type="text" placeholder="Куда" />
            <span class="">страна, город, аэропорт, вокзал</span>
          </label>
          <label>
            <input type="datetime-local" placeholder="Когда" />
          </label>
          <label class="back-way">
            <input *ngIf="twoWay" type="datetime-local" placeholder="Когда" />
            <label>
              <input type="checkbox" [(ngModel)]="twoWay" />
              <span>обратный билет</span>
            </label>
          </label>
        </div>
        <div class="trip-options">
          <label class="custom-checkbox">
            <input type="radio" [(ngModel)]="tripOption" name="trip-option" [value]="tripOptions.AIRPLANE" />
            <span class="icon i-airplane"></span>
            Самолет
          </label>
          <label class="custom-checkbox m-l-50">
            <input type="radio" [(ngModel)]="tripOption" name="trip-option" [value]="tripOptions.TRAIN" />
            <span class="icon i-train"></span>
            Поезд
          </label>
          <label class="m-l-50 one-way">
            <input type="checkbox" />
            Прямой рейс
          </label>
        </div>
        <div class="ticket-class">
          <label>
            <input type="radio" [(ngModel)]="ticketClass" name="ticket-class" [value]="ticketClasses.ECONOMIC"/>
            эконом
          </label>
          <label class="m-l-25">
            <input type="radio" [(ngModel)]="ticketClass" name="ticket-class" [value]="ticketClasses.BUSINESS"/>
            бизнес
          </label>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <div class="second-group">
          <p class="trip-key">
            Размещение
          </p>
          <div class="radio-group live-place">
            Место проживания
            <label>
              <input type="radio" name="live-place" value="1" /> Гостиница
            </label>
            <label>
              <input type="radio" name="live-place" value="1" /> Апартаменты
            </label>
            <label>
              <input type="radio" name="live-place" value="1" /> Не требуется
            </label>
          </div>
          <div class="radio-group subject-class">
            Класс места проживания
            <label>
              <input type="radio" name="live-class" value="1" /> Эконом класс
            </label>
            <label>
              <input type="radio" name="live-class" value="1" /> Средний класс
            </label>
            <label>
              <input type="radio" name="live-class" value="1" /> Люкс класс
            </label>
          </div>
        </div>
        <div class="second-group m-t-30">
          <p class="trip-key">
            Трансфер
          </p>
          <div class="radio-group live-place">
            Вариант трансфера
            <label>
              <input type="radio" name="drive-type" value="1" /> Полный пакет
            </label>
            <label>
              <input type="radio" name="drive-type" value="1" /> Частичный пакет
            </label>
          </div>
          <div class="radio-group subject-class">
            Класс автомобиля
            <label>
              <input type="radio" name="drive-class" value="1" /> Эконом класс
            </label>
            <label>
              <input type="radio" name="drive-class" value="1" /> Бизнес класс
            </label>
            <label>
              <input type="radio" name="drive-class" value="1" /> Микроавтобус
            </label>
          </div>
        </div>
        <div class="second-group">
          <div class="second-hour-count">
            <p class="hour-text">Количество часов</p>
            <label>
              <input type="checkbox" /> почасово
            </label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <div class="third-cover">
          <select>
            <option disabled selected>Выберите сотрудника</option>
          </select>
          <div class="d-inline-block m-l-25 m-r-25">или</div>
          <button type="button">Добавьте нового</button>
        </div>
        <label class="comment-cover">
          <input type="text" placeholder="Комментарий" />
        </label>
      </ng-container>
    </ng-container>
    <div class="next-cover">
      <button *ngIf="step != 1" type="button" (click)="prevStep()" class="prev-step-btn">
        <span class="icon i-left-arrow-white"></span>
        Назад
      </button>
      <button type="button" (click)="nextStep()" class="next-step-btn">{{ step == 3 ? 'Сохранить' : 'Следующий шаг' }}</button>
    </div>
  </div>
</div>
