<div class="header">
  <div class="container header-items-cover">
    <div class="header-left">
      <a routerLink="/user/trips">Поездки</a>
      <a routerLink="/user/employees">Сотрудники</a>
      <a routerLink="/user/reports">Отчетность</a>
    </div>
    <img src="/assets/images/logo-white.png" />
    <div class="header-right">
      <div #notificationDropdown>
        <button type="button" (click)="toggleNotifications()" class="dropdown-btn">
          <span class="icon i-notifications"></span>
        </button>
        <div *ngIf="isActiveNotifications" class="notifications-block">
          <div class="notifications-cover">
            <div *ngFor="let notification of notifications" class="notification-item">
              <div class="notification-date">{{ notification.created_at | date: 'dd.MM.yyyy hh:mm' }}</div>
              <div class="notification-status">{{ notification.title }}</div>
              <div class="notification-text">{{ notification.body }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-l-20" #settingsDropdown>
        <button type="button" (click)="toggleSettings()" class="dropdown-btn">
          <span class="icon i-settings"></span>
        </button>
        <div *ngIf="isActiveSettings" class="settings-cover">
          <div class="employees-cover">
            <div class="employee-item">
              <div class="employee-main">
                <div class="employee-top">
                  <img [src]="user?.employees[0]?.image ? apiUrl + user?.employees[0]?.image : noAvatar" />
                  <div class="employee-info">
                    <div class="employee-name">
                      {{ user?.employees[0]?.name }} {{ user?.employees[0]?.last_name }}
                    </div>
                    <div class="employee-job">
                      {{ employeeRuPositions[user?.employees[0]?.position] }}
                    </div>
                  </div>
                </div>
                <div class="employee-body">
                  <h4 class="main-key">Профиль компании</h4>
                  <div class="key-value">
                    <span>Название компании:</span> {{ company.name }}
                  </div>
                  <div class="key-value">
                    <span>Реквизиты:</span> {{ company.requisites }}
                  </div>
                  <button type="button" (click)="openCompanyProfile()" class="muted-btn m-t-15">Редактировать</button>
                  <h4 class="main-key">Доступ к кабинету</h4>
                  <div class="key-value">
                    <span>Пользователь:</span> {{ user?.employees[0]?.name }} {{ user?.employees[0]?.last_name }}
                  </div>
                  <div class="key-value">
                    <span>Логин:</span> {{ user.username }}
                  </div>
                  <div class="key-value">
                    <span>Права:</span> {{ employeeRuPositions[user?.employees[0]?.position] }}
                  </div>
                  <button type="button" (click)="openCreateUser()" class="muted-btn m-t-15">Добавить сотрудника</button>
                </div>
                <div class="display-flex justify-content-space-between m-t-30">
                  <button type="button" (click)="openChangePassword()" class="green-btn">Сменить пароль</button>
                  <button type="button" (click)="logOut()" class="no-background-btn">Выйти</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-l-20" #walletDropdown>
        <button type="button" (click)="toggleWallet()" class="dropdown-btn">
          <span class="icon i-wallet"></span>
        </button>
        <div *ngIf="isActiveWallet" class="wallet-cover">
          <div class="wallet-text">
            Баланс компании
          </div>
          <form>
            <label>
              <input type="text" placeholder="Введите сумму" class="pay-input" required />
              <button type="submit" class="pay-btn">Пополнить</button>
            </label>
          </form>
        </div>
      </div>
      <div class="wallet-amount">12 333 ТГ</div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
