<div class="modal-overall">
  <div class="modal-body">
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="1">
        <div class="input-fields">
          <label>
            <input type="text" [formControl]="tripRequestForm.get('city_from')" placeholder="Откуда" />
            <span class="">страна, город, аэропорт, вокзал</span>
          </label>
          <label>
            <input type="text" [formControl]="tripRequestForm.get('city_to')" placeholder="Куда" />
            <span class="">страна, город, аэропорт, вокзал</span>
          </label>
          <label>
            <input type="text" (focusin)="changeTypeDate($event)" (focusout)="changeTypeText($event)" [formControl]="tripRequestForm.get('trip_date_from')" placeholder="Когда (дд.мм.гггг)" />
          </label>
          <label class="back-way">
            <input *ngIf="twoWay" type="text" (focusin)="changeTypeDate($event)" (focusout)="changeTypeText($event)" [formControl]="tripRequestForm.get('trip_date_to')" placeholder="Когда (дд.мм.гггг)" />
            <label>
              <input type="checkbox" [(ngModel)]="twoWay" />
              <span>обратный билет</span>
            </label>
          </label>
        </div>
        <div class="trip-options">
          <label class="custom-checkbox">
            <input type="radio" [formControl]="tripRequestForm.get('by')" name="by" [value]="tripOptions.AIRPLANE" />
            <span class="icon i-airplane"></span>
            Самолет
          </label>
          <label class="custom-checkbox m-l-50">
            <input type="radio"  [formControl]="tripRequestForm.get('by')" name="by" [value]="tripOptions.TRAIN" />
            <span class="icon i-train"></span>
            Поезд
          </label>
          <label class="one-way m-t-20">
            <input type="checkbox" [formControl]="tripRequestForm.get('direct_flight')" />
            Прямой рейс
          </label>
        </div>
        <div class="ticket-class">
          <label>
            <input type="radio" [formControl]="tripRequestForm.get('ticket_type')" name="ticket_type" [value]="ticketClasses.ECONOMIC" />
            эконом
          </label>
          <label class="m-l-25">
            <input type="radio" [formControl]="tripRequestForm.get('ticket_type')" name="ticket_type" [value]="ticketClasses.BUSINESS" />
            бизнес
          </label>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <p class="trip-key">
          Размещение
        </p>
        <div class="second-group">
          <div class="radio-group live-place">
            Место проживания
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('residence')" name="live-place" [value]="tripResidences.HOTEL" /> Гостиница
            </label>
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('residence')" name="live-place" [value]="tripResidences.APARTMENT" /> Апартаменты
            </label>
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('residence')" name="live-place" [value]="tripResidences.NONE" /> Не требуется
            </label>
          </div>
          <div class="radio-group subject-class">
            Класс места проживания
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('residence_class')" name="live-class" [value]="tripResidenceClasses.ECONOMY" /> Эконом класс
            </label>
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('residence_class')" name="live-class" [value]="tripResidenceClasses.MIDDLE" /> Средний класс
            </label>
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('residence_class')" name="live-class" [value]="tripResidenceClasses.LUXURY" /> Люкс класс
            </label>
          </div>
        </div>
        <p class="trip-key">
          Трансфер
        </p>
        <div class="second-group m-t-30">
          <div class="radio-group live-place">
            Вариант трансфера
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('transfer')" name="drive-type" [value]="tripTransfers.FULL" /> Полный пакет
            </label>
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('transfer')" name="drive-type" [value]="tripTransfers.PARTIAL" /> Частичный пакет
            </label>
          </div>
          <div class="radio-group subject-class">
            Класс автомобиля
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('vehicle_class')" name="drive-class" [value]="tripVehicleClasses.ECONOMY" /> Эконом класс
            </label>
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('vehicle_class')" name="drive-class" [value]="tripVehicleClasses.BUSINESS" /> Бизнес класс
            </label>
            <label>
              <input type="radio" [formControl]="tripRequestForm.get('vehicle_class')" name="drive-class" [value]="tripVehicleClasses.MINIBUS" /> Микроавтобус
            </label>
          </div>
        </div>
        <div class="second-group">
          <div class="second-hour-count">
            <label>
              <input type="number" [formControl]="tripRequestForm.get('hour_amount')" class="border-bottom-input" placeholder="Количество часов" />
            </label>
            <label class="display-inline-block m-t-10">
              <input type="checkbox" [formControl]="tripRequestForm.get('is_hourly')" /> почасово
            </label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <div class="third-cover">
          <select (change)="selectEmployee($event)">
            <option disabled selected>Выберите сотрудника</option>
            <option *ngFor="let employee of employeePagination?.results; let i = index" [value]="i">
              {{ employee.name }} {{ employee.last_name }}
            </option>
          </select>
        </div>
        <div *ngFor="let employee of selectedEmployees; let i = index" class="employee-item">
          <div class="employee-item-name">{{ employee.name }} {{ employee.last_name }}</div>
          <button type="button" (click)="removeEmployee(i)" class="employee-remove">Убрать</button>
        </div>
        <label class="comment-cover">
          <input type="text" [formControl]="tripRequestForm.get('comment')" placeholder="Комментарий" />
        </label>
      </ng-container>
    </ng-container>
    <div class="next-cover">
      <button *ngIf="step != 1" type="button" (click)="prevStep()" class="prev-step-btn">
        <span class="icon i-left-arrow-white"></span>
        Назад
      </button>
      <button type="button" (click)="nextStep()" class="next-step-btn">{{ step == 3 ? 'Сохранить' : 'Следующий шаг' }}</button>
    </div>
  </div>
</div>
