$white: #FFFFFF;
$black: #000000;
$background-purple: #232647;

$purple-palette: (
  100: #EDF1FF,
  200: #C9D4FF,
  300: #E1E8FF,
  400: #5063AC,
  500: #6676B8,
  600: #344057,
  700: #737B9D,
  800: #B9C5FF,
  900: #3C4390,
  950: #2A316C,
  1000: #2A306C
);

$gray-palette: (
  200: #DCE2F8,
  300: #687184,
  400: #697386
);

$green-palette: (
  500: #85CD4D
);
